WATCHLIST_SOURCE = "sp500"
SCAN_MODE = "bullish"
BULLISH_MIN_SCORE = "60"
GMAIL_MIN_SCORE = "80"
GMAIL_MIN_TIER = "A"
GMAIL_COOLDOWN_HOURS = "24"
MARKET_HOURS_ONLY = "true"
REGIME_FILTER = "true"
FILTER_EXTENDED = "true"
ENABLE_SENTIMENT = "true"
GMAIL_ADDRESS = "tvoj.email@gmail.com"
GMAIL_APP_PASSWORD = "xxxx xxxx xxxx xxxx"
GMAIL_TO = "tvoj.email@gmail.com"